[Unit]
Description=KARL'S LIGHT ACCESS UI
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/startx /usr/local/bin/kla-session -- :0 vt1 -keeptty -nolisten tcp
Restart=on-failure
RestartSec=2
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
